.first-section{
    background: #F0FFF0;
}
.container{
    margin-bottom: 100px;

}
.logo{
width: 118.07px;
height: 29px;
left: 292px;
top: 45px;

font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 24.8571px;
line-height: 29px;

color: #56548C;
}

.sign-in-button{
display: flex;
flex-direction: row;
padding: 12px 28px;

position: absolute;
width: 110px;
height: 43px;
left: 1201px;
top: 25px;

background: #21B573;
border-radius: 33px;
}
.sign-in-color{
    color: white;
    align-self: center;
}
.illustration-h1-style{

width: 405px;
height: 140px;
left: 205px;
top: 212px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 70px;
/* or 146% */
color: #000000;
}
.any-schedule{
    color: #21B573;
}
.illustration-p{
    color: gray;
}
.illustration-button{
display: flex;
flex-direction: row;
padding: 12px 36px;
width: 170px;
height: 43px;
left: 205px;
top: 470px;
background: #21B573;
border-radius: 33px;
color: white;
text-align: center;
}
.icon-size{
    width: 66px;
height: 85px;
left: 231px;
top: 672px;
}
.card-2{
    border: none;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.card-3{
    background: #F8FFFB;
border-radius: 10px;
}
.online-course{
    text-align: center;
    color: #413960;
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;

}
.card-img-top{
    padding: 15px 10px;
}
.card{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.vector{

    left: 12.5%;
    right: 12.5%;
    top: 8.33%;
    bottom: 8.33%;
}
.date{
    font-size: small;
    color: gray;
}
.seats{
    color: gray;
}
.row{
    padding-top: 22px;
}

.para{
    padding-top: 200px;
    font-size: 16px;
    line-height: 30px;
}
.last-paragraph{
    color: white;
    padding-left: 100px;
    padding-top: 40px;
}
.footer{
    color: white;
    text-align: center;
    padding-left: 45%;
    padding-top: 60px;
}
